@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .debug {
    @apply border border-red-500;
  }
}
@font-face {
  font-family: "SupremeRegular";
  src: url("src/assets/Fonts/Supreme-Regular.woff ");
}
@font-face {
  font-family: "ClashGrotesk";
  src: url("src/assets/Fonts/ClashGrotesk-Regular.woff ");
}
